/* CSS for Admin */
/* WP Admin Bar*/
#wpadminbar .quicklinks .ab-empty-item {
  padding: 0 1.5em; }

#wpadminbar ul#wp-admin-bar-root-default > li a {
  padding: 0 1.5em; }

#wpadminbar ul#wp-admin-bar-root-default li + li {
  border-left: 1px dotted #666666; }

#wp-admin-bar-wp-logo,
#wp-admin-bar-comments,
#wp-admin-bar-my-account,
#wp-admin-bar-amf-close-admin-panel,
#wp-admin-bar-site-name .ab-sub-wrapper,
#wp-admin-bar-customize,
#wp-admin-bar-widgets,
#wp-admin-bar-updraft_admin_node {
  display: none !important; }

#wp-admin-bar-SG_CachePress_Supercacher_Purge,
#wp-admin-bar-query-monitor {
  background: #666666 !important;
  border-left-color: #000000 !important;
  float: right !important;
  display: block !important; }

#wp-admin-bar-view > .ab-item::before,
#wp-admin-bar-archive > .ab-item::before,
#wp-admin-bar-stever-quotes-editall > .ab-item::before {
  content: '\f177';
  font-size: 1.3em;
  padding-top: 0.5em; }

#wp-admin-bar-epc_purge_menu > .ab-item::before {
  content: '\f160';
  padding-top: 0.3em; }

#wp-admin-bar-query-monitor > .ab-item::before {
  content: '\f321';
  padding-top: 0.3em; }

/* WP Admin Menu */
#menu-comments,
#menu-users,
#toplevel_page_gutenberg {
  display: none; }

/* Interface Bar */
.interface-pinned-items button[aria-label='Yoast SEO'] {
  display: none !important; }

#stever_body_class-stever-body-class textarea {
  width: 100%; }

.edit-post-header {
  background-color: #defafa; }

.wp-admin.post-type-stever_quotes #the-list blockquote {
  margin: 0; }
  .wp-admin.post-type-stever_quotes #the-list blockquote p {
    color: #000000;
    font-size: 1.2em; }

#the-list {
  /* Indent nested posts. */ }
  #the-list .check-column {
    padding: 0;
    border-left: 0 !important; }
    #the-list .check-column input {
      margin: 10px 0 0 14px !important; }
  #the-list .column-title .post-state {
    opacity: 0.5;
    margin-left: 2em; }
    #the-list .column-title .post-state .states {
      background: #000000 !important; }
  #the-list .column-categories a {
    position: relative;
    border: 1px dashed transparent;
    border-left: 0;
    padding: 1px 6px 3px 8px;
    background-color: #f7f7f7;
    border-radius: 3px; }
    #the-list .column-categories a:before {
      content: '';
      width: 4px;
      height: 100%;
      background-color: transparent;
      position: absolute;
      left: 0;
      top: 0; }
  #the-list .column-categories a[href='edit.php?category_name=uncategorized'] {
    border-color: #ff0000; }
    #the-list .column-categories a[href='edit.php?category_name=uncategorized']:before {
      background-color: #ff0000; }
  #the-list .column-categories a[href='edit.php?category_name=management'] {
    border-color: #6b7d05; }
    #the-list .column-categories a[href='edit.php?category_name=management']:before {
      background-color: #6b7d05; }
  #the-list .column-categories a[href='edit.php?category_name=development'] {
    border-color: #416e82; }
    #the-list .column-categories a[href='edit.php?category_name=development']:before {
      background-color: #416e82; }
  #the-list .column-categories a[href='edit.php?category_name=event-notes'] {
    border-color: #ffcc4d; }
    #the-list .column-categories a[href='edit.php?category_name=event-notes']:before {
      background-color: #ffcc4d; }
  #the-list tr:nth-child(odd) .column-categories a {
    background-color: #ffffff; }
  #the-list .column-taxonomy-stever_workflow {
    color: transparent !important; }
    #the-list .column-taxonomy-stever_workflow a {
      background: #ffc0cb1f;
      border: 1px solid #b2555536;
      padding: 3px 5px;
      border-radius: 2px;
      display: inline-block;
      margin-bottom: 8px;
      color: black; }
    #the-list .column-taxonomy-stever_workflow a[href='edit.php?post_type=page&stever_workflow=ready'],
    #the-list .column-taxonomy-stever_workflow a[href='edit.php?stever_workflow=ready'] {
      background: transparent;
      border: 1px solid #77b255; }
    #the-list .column-taxonomy-stever_workflow a[href='edit.php?post_type=page&stever_workflow=never-publish'],
    #the-list .column-taxonomy-stever_workflow a[href='edit.php?stever_workflow=never-publish'] {
      background: transparent;
      border: 1px solid #77b255; }
  #the-list tr {
    cursor: unset; }
  #the-list tr.level-1 .check-column {
    padding-left: 2em; }
    #the-list tr.level-1 .check-column label {
      width: 4.2em; }
  #the-list tr.level-1 .column-title {
    padding-left: 2.6em; }
  #the-list .row-actions {
    left: auto;
    opacity: 0.5;
    transition: all 0.5s;
    /* Duplicate Post plugin: hide the "number of duplicates" input. */
    /* Simple Page Ordering plugin. */ }
    #the-list .row-actions .dppmc_btn_count input {
      display: none !important; }
    #the-list .row-actions [class^='spo-move'] {
      display: none !important; }
  #the-list tr:hover .row-actions {
    opacity: 1; }

.stever-dashboard-widget ul {
  padding-left: 1.5em; }

.stever-dashboard-widget li {
  margin: 0;
  padding: 0; }
  .stever-dashboard-widget li .post-info-wrap {
    border-bottom: 1px solid #eee;
    padding: 0.2em 0; }
    .stever-dashboard-widget li .post-info-wrap .linkview {
      float: right;
      clear: both;
      font-size: 0.8em; }
    .stever-dashboard-widget li .post-info-wrap small.status {
      margin-left: 1em;
      font-size: 0.65em;
      opacity: 0.5; }

.stever-dashboard-widget > li:last-child .post-info-wrap {
  border: 0 none; }

/* Dashboard Widgets.
 * Very opinionated to my setup.
 */
#dashboard-widgets #dashboard_widget_maps h2,
#dashboard-widgets #dashboard_widget_unfinished_posts h2,
#dashboard-widgets #dashboard_widget_recently_updated h2,
#dashboard-widgets #dashboard_widget_all_pages h2 {
  flex-grow: 0; }

#dashboard-widgets #dashboard_widget_maps h2::before,
#dashboard-widgets #dashboard_widget_unfinished_posts h2::before,
#dashboard-widgets #dashboard_widget_recently_updated h2::before,
#dashboard-widgets #dashboard_widget_all_pages h2::before {
  font-family: 'Dashicons';
  padding-right: 0.5em;
  vertical-align: middle;
  color: #c2552e;
  font-weight: normal;
  font-size: 1.5em; }

#dashboard-widgets #dashboard_widget_maps h2::before {
  content: '\f319'; }

#dashboard-widgets #dashboard_widget_unfinished_posts h2::before {
  content: '\f464'; }

#dashboard-widgets #dashboard_widget_recently_updated h2::before {
  content: '\f469'; }

#dashboard-widgets #dashboard_widget_all_pages h2::before {
  content: '\f163'; }

