/* CSS for Blocks */
/* Custom Colors */
/* AA w/Large Text: https://bit.ly/2EnXiPj */
/* For Timeline Only */
/* Accent Colors */
/* "Standard" Colors */
/* Fonts */
@import url("https://fonts.bunny.net/css?family=b612-mono:400");
/* Breakpoints */
/* HT: https://bit.ly/3beCmdq */
/* Columns Override to full-width */
.wp-admin .wp-block {
  max-width: 1400px; }

.wp-admin .components-resizable-box__container {
  border: 1px dashed #ABABAB; }

/* Cover Image */
.wp-block-cover {
  margin-bottom: 2em; }

.wp-block-cover__inner-container h1 {
  margin: 0; }

.wp-block-cover__inner-container h4 {
  margin-top: -4em; }

/* Block Quote */
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  margin: 3em 0; }

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
  text-align: left; }

/* Columns */
.wp-block-columns.has-2-columns.small-left .wp-block-column:nth-child(1) {
  flex-basis: calc(10% - 16px); }

.wp-block-columns.has-2-columns.small-left .wp-block-column:nth-child(2) {
  flex-basis: calc(90% - 16px); }

.columns-zebra .wp-block-columns:nth-child(odd) {
  background-color: #F7F7F7;
  margin: 0 -0.9em;
  padding: 1em; }

.wp-block-columns.spaced-out-divider {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 0;
  border: 1x solid #CCCCCC; }

.wp-block-columns.spaced-out-divider .wp-block-column {
  margin-bottom: 0; }

/* Buttons */
.wp-block-button__link,
.wp-block-button__link:visited {
  background-color: transparent;
  padding: .3em 1em;
  font-size: 1em;
  border: 1px solid #C2552E;
  color: #C2552E;
  font-weight: normal; }

.wp-block-button__link:hover,
.wp-block-button__link:focus,
.wp-block-button__link:active {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: #C2552E;
  text-decoration: none; }

/* Heading: Year Divider */
.is-style-year-divider,
.editor-styles-wrapper .is-style-year-divider {
  background-color: #8B9B31;
  color: #FFFFFF;
  text-align: center;
  padding: .5em;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0; }

/* General Accordions */
.c-accordion__item {
  background: #F7F7F7;
  margin-bottom: 1em; }
  .c-accordion__item .c-accordion__title {
    margin: 0 !important;
    padding: .5em !important; }
  .c-accordion__item .c-accordion__title::after {
    right: .5em; }
  .c-accordion__item .c-accordion__content {
    padding: 1em; }
  .c-accordion__item button {
    border: 1px dashed #CCC;
    padding: .5em .75em; }
  .c-accordion__item button::after {
    display: none !important; }
  .c-accordion__item button::before {
    content: "\F0FE";
    font-family: "Font Awesome 5 Free";
    font-weight: normal;
    font-style: normal;
    padding: 0 1em 0 .5em;
    color: #666666; }
  .c-accordion__item.is-open button {
    border: 1px solid #CCC; }
  .c-accordion__item.is-open button::before {
    content: "\F146"; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.sr-page-table thead {
  background-color: #E1E2C7;
  font-weight: bold;
  text-align: left; }

.sr-page-table tbody tr:nth-child(2n+1) {
  background-color: #F7F7F7; }

.sr-page-table th {
  padding: .5em; }

.sr-page-table td {
  padding: .5em;
  vertical-align: top; }

/* Table: Professional Development */
/* Accordion: Upcoming Events */
.accordion-upcoming h4 {
  background: #C2552E;
  color: #FFFFFF;
  text-align: center;
  padding: 0.2em 0 0.25em 0; }

.accordion-upcoming h4:after {
  color: white;
  right: 0.65em; }

.accordion-upcoming iframe {
  width: 100%;
  max-height: 350px; }

/* Table: Professional Development */
.is-style-stever-table-pro-dev tr {
  /* Icon */
  /* Title */
  /* Date */
  /* Affiliation */ }
  .is-style-stever-table-pro-dev tr td:nth-child(1) {
    width: 5%;
    text-align: center; }
  .is-style-stever-table-pro-dev tr td:nth-child(2) {
    width: 55%; }
  .is-style-stever-table-pro-dev tr td:nth-child(3) {
    width: 10%; }
  .is-style-stever-table-pro-dev tr td:nth-child(4) {
    width: 30%; }

/* Admin - Table: Professional Development */
.wp-admin .is-style-stever-table-pro-dev tr {
  /* Icon */
  /* Title */ }
  .wp-admin .is-style-stever-table-pro-dev tr td:nth-child(1) {
    width: 15%;
    text-align: center; }
  .wp-admin .is-style-stever-table-pro-dev tr td:nth-child(2) {
    width: 45%; }

/* Responsive - Table: Professional Development*/
@media (max-width: 48.75em) {
  .is-style-stever-table-pro-dev {
    display: block;
    width: 100%; }
    .is-style-stever-table-pro-dev thead {
      display: none; }
    .is-style-stever-table-pro-dev td {
      display: inline-block; }
    .is-style-stever-table-pro-dev tr {
      display: block;
      width: 100% td;
      /* Title */
      /* Date */
      /* Affiliation */ }
      .is-style-stever-table-pro-dev tr :nth-child(1) {
        width: 10% !important; }
      .is-style-stever-table-pro-dev tr td:nth-child(2) {
        width: 90% !important;
        font-weight: bold; }
      .is-style-stever-table-pro-dev tr td:nth-child(3) {
        padding-left: 10%;
        width: 30% !important;
        font-style: italic; }
      .is-style-stever-table-pro-dev tr td:nth-child(4) {
        width: 70% !important;
        padding-left: 2em;
        text-align: right;
        padding-right: 1em;
        font-style: italic; } }

/* Table: Books I've Read */
.is-style-stever-table-books {
  /* Title */
  /* Author */
  /* Date */ }
  .is-style-stever-table-books td:nth-child(1) {
    width: 55% !important;
    text-align: left !important; }
  .is-style-stever-table-books td:nth-child(2) {
    width: 30% !important; }
  .is-style-stever-table-books td:nth-child(3) {
    width: 10% !important;
    text-align: right;
    font-family: "B612 Mono", monospace;
    padding-right: 2em; }

/* Responsive - Table: Books I've Read */
@media (max-width: 48.75em) {
  .is-style-stever-table-books {
    display: block;
    width: 100%; }
    .is-style-stever-table-books thead {
      display: none; }
    .is-style-stever-table-books td {
      display: inline-block; }
    .is-style-stever-table-books tr {
      display: block;
      width: 100% td;
      /* Author */
      /* Date */ }
      .is-style-stever-table-books tr :nth-child(1) {
        width: 100% !important;
        font-weight: bold; }
      .is-style-stever-table-books tr td:nth-child(2) {
        width: 75% !important; }
      .is-style-stever-table-books tr td:nth-child(3) {
        padding-left: 10%;
        width: 25% !important;
        font-style: italic; } }

/* Table: Speaking/Teaching */
.is-style-stever-table-speaking {
  /* Date */
  /* Event */
  /* Affiliation */ }
  .is-style-stever-table-speaking td:nth-child(1) {
    width: 45%; }
  .is-style-stever-table-speaking td:nth-child(2) {
    width: 20%; }
  .is-style-stever-table-speaking td:nth-child(3) {
    width: 35%; }

/* Responsive - Table: Speaking/Teaching */
@media (max-width: 48.75em) {
  .is-style-stever-table-speaking {
    display: block;
    width: 100%; }
    .is-style-stever-table-speaking thead {
      display: none; }
    .is-style-stever-table-speaking td {
      display: inline-block; }
    .is-style-stever-table-speaking tr {
      display: block;
      width: 100% td;
      /* Date */
      /* Affiliation */ }
      .is-style-stever-table-speaking tr :nth-child(1) {
        width: 100% !important;
        font-weight: bold; }
      .is-style-stever-table-speaking tr td:nth-child(2) {
        width: 25% !important; }
      .is-style-stever-table-speaking tr td:nth-child(3) {
        width: 75% !important;
        padding-left: 2em;
        text-align: right;
        padding-right: 1em;
        font-style: italic; } }

/* Columns: Features */
.is-style-stever-columns-features .wp-block-column {
  margin: 2em 0 0 0; }

.is-style-stever-columns-features .wp-block-column h4 {
  margin-top: 0; }

.is-style-stever-columns-features ul {
  margin: 0; }

.is-style-stever-columns-features .wp-block-column + .wp-block-column {
  border-left: 1px solid #F1f1f1;
  padding-left: 4em; }

@media (max-width: 63.9375em) {
  .is-style-stever-columns-features .wp-block-column {
    padding-right: 2em; }
  .is-style-stever-columns-features .wp-block-column:last-child {
    padding-left: 2em; } }

@media (max-width: 48.75em) {
  .is-style-stever-columns-features .wp-block-column,
  .is-style-stever-columns-features .wp-block-column:last-child {
    padding: 0;
    flex-basis: 100% !important;
    border: 0 none; } }

/* Columns: statistics */
.is-style-stever-columns-statistics .wp-block-column {
  background: #f1f1f1;
  padding: 2em;
  margin-bottom: 1em;
  color: white;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all .5s; }

.is-style-stever-columns-statistics .wp-block-column h4 {
  margin: 0 0 .5em 0;
  font-size: 2.5em;
  font-weight: bold;
  color: White; }

.wp-admin .is-style-stever-columns-statistics .wp-block-column h4 {
  font-size: 2em; }

.is-style-stever-columns-statistics .wp-block-column:hover {
  box-shadow: inset 0 0 10px 5px #CCC; }

.is-style-stever-columns-statistics .wp-block-column h4:before {
  font-family: "Font Awesome 5 Free";
  display: block;
  margin-bottom: 0.5em;
  font-size: .75em;
  text-align: center; }

.is-style-stever-columns-statistics .is-style-stever-columns-statistics-pointer {
  background: #516322; }

.is-style-stever-columns-statistics .is-style-stever-columns-statistics-pointer h4:before {
  content: "\f245"; }

.is-style-stever-columns-statistics .is-style-stever-columns-statistics-themes {
  background: #416E82; }

.is-style-stever-columns-statistics .is-style-stever-columns-statistics-themes h4:before {
  content: "\f0e8"; }

.is-style-stever-columns-statistics .is-style-stever-columns-statistics-team {
  background: #814519; }

.is-style-stever-columns-statistics .is-style-stever-columns-statistics-team h4:before {
  content: "\f0c0"; }

.is-style-stever-columns-statistics .is-style-stever-columns-statistics-commits {
  background: #3f506c; }

.is-style-stever-columns-statistics .is-style-stever-columns-statistics-commits h4:before {
  content: "\f126"; }

/* Columns: statistics:: On Home */
.home-blocks.is-style-stever-columns-statistics {
  margin-top: 3em; }
  .home-blocks.is-style-stever-columns-statistics a {
    text-decoration: underline;
    color: #FFFFFF; }
    .home-blocks.is-style-stever-columns-statistics a:hover {
      text-decoration: none; }
  .home-blocks.is-style-stever-columns-statistics h4 {
    font-size: 2.2em;
    margin: 0;
    padding: 0 0 .15em 0; }
    .home-blocks.is-style-stever-columns-statistics h4:before {
      display: none; }
    .home-blocks.is-style-stever-columns-statistics h4 a {
      text-decoration: none; }
  .home-blocks.is-style-stever-columns-statistics .wp-block-button {
    text-decoration: none;
    margin-left: 1em; }
    .home-blocks.is-style-stever-columns-statistics .wp-block-button .wp-block-button__link,
    .home-blocks.is-style-stever-columns-statistics .wp-block-button .wp-block-button__link:visited {
      background: #FFFFFF;
      color: #000000;
      border: 2px solid transparent;
      text-decoration: none;
      opacity: .75;
      cursor: pointer; }
    .home-blocks.is-style-stever-columns-statistics .wp-block-button .wp-block-button__link:hover {
      border: 2px solid #666666; }

/* Gallery */
.blocks-gallery-grid, .wp-block-gallery {
  width: 100%; }

/* Gallery: Fancybox Outline */
.is-style-fancybox a {
  border: 1px solid #666666; }

.is-style-fancybox img {
  transition: all .5s;
  opacity: 0.7; }
  .is-style-fancybox img:hover {
    opacity: 1; }
