// CSS for Admin
@import url( "https://fonts.bunny.net/css?family=b612-mono:400" );

@import 'partials/_variables';
@import 'partials/wpadminbar';


// Metabox: Body Class
#stever_body_class-stever-body-class textarea {
	width: 100%;
}


// Edit Post Header: Extra Attention (light blue)
.edit-post-header {
    background-color: #DEFAFA;
}


// Page Title: Extra Attention
.editor-post-title {
	border-bottom: 4px double black;
	margin-bottom: 2em;
}


// Quotes Listings Columns
.wp-admin.post-type-stever_quotes .editor-post-title__input {
	font-size: 1em;
}
.wp-admin.post-type-stever_quotes #the-list blockquote {
	margin: 0;
}
.wp-admin.post-type-stever_quotes #the-list blockquote p {
	color: $black;
	font-size: 1.2em;
}


// Page/Post Listings Columns
#the-list .check-column {
	padding: 0;
}
#the-list .check-column input {
	margin-top: 1em;
}
#the-list .row-actions {
    left: auto;
    opacity: 0.5;
    transition: all .5s;
}
#the-list tr:hover .row-actions {
    opacity: 1;
}


// Page/Post Listings: Term Colors
a[href="edit.php?category_name=development"],
a[href="edit.php?category_name=management"] {
    border: 2px solid #c5a2f2;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #FFF;
}
a[href="edit.php?category_name=development"] {
    border-color: #a2a9f2;
}
tbody .column-taxonomy-stever_workflow {
    color: transparent !important;
}
#the-list .status-draft th, #the-list .status-draft td,
#the-list .status-private th, #the-list .status-private td {
    background-color: inherit;
}
.column-taxonomy-stever_workflow a {
    background: #ffc0cb1f;
    border: 1px solid #b2555536;
    padding: 3px 5px;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 8px;
    color: black;
}
.column-taxonomy-stever_workflow a[href="edit.php?post_type=page&stever_workflow=ready"],
.column-taxonomy-stever_workflow a[href="edit.php?stever_workflow=ready"] {
    background: transparent;
    border: 1px solid #77B255;
}
.column-taxonomy-stever_workflow a[href="edit.php?post_type=page&stever_workflow=never-publish"],
.column-taxonomy-stever_workflow a[href="edit.php?stever_workflow=never-publish"] {
    background: transparent;
    border: 1px solid #77B255;
}


// Page/Post Listings: Post State Tags (Plugin)
.post-state {
    opacity: .5;
    margin-left: 2em;
}
#the-list .status-private th.check-column input {
	margin-left: 8px;
}
#the-list .check-column {
	border-left: 0 !important;
}


// Dashboard Widgets
.stever-dashboard-widget ul {
    padding-left: 1.5em;
}
.stever-dashboard-widget li {
	margin: 0;
	padding: 0;
}
.stever-dashboard-widget .post-info-wrap {
	border-bottom: 1px solid #EEE;
	padding: .2em 0;
}
.stever-dashboard-widget > li:last-child .post-info-wrap {
	border: 0 none;
}
.stever-dashboard-widget .linkview {
	float: right;
	clear: both;
	font-size: 0.8em;
}
.stever-dashboard-widget small.status {
    margin-left: 1em;
    font-size: 0.65em;
    opacity: 0.5;
}
#dashboard_widget_maps h2,
#dashboard_widget_unfinished_posts h2,
#dashboard_widget_recently_updated h2,
#dashboard_widget_all_pages h2 {
	flex-grow: 0;
}
#dashboard_widget_maps h2::before,
#dashboard_widget_unfinished_posts h2::before,
#dashboard_widget_recently_updated h2::before,
#dashboard_widget_all_pages h2::before {
	font-family: "Dashicons";
    padding-right: .5em;
    vertical-align: middle;
    color: $red;
    font-weight: normal;
    font-size: 1.5em;
}
#dashboard_widget_maps h2::before {
    content: "\f319";
}
#dashboard_widget_unfinished_posts h2::before {
    content: "\f464";
}
#dashboard_widget_recently_updated h2::before {
    content: "\f469";
}
#dashboard_widget_all_pages h2::before {
    content: "\f163";
}