/* CSS for Blocks */

@import 'partials/variables';

.wp-admin .wp-block {
    max-width: 1400px;
}

/* Media & Text */
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 0;
}

/* Cover Image */
.wp-block-cover {
    margin-bottom: 2em;
}
.wp-block-cover__inner-container h1 {
    margin: 0;
}
.wp-block-cover__inner-container h4 {
    margin-top: -4em;
}

/* Block Quote */
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 3em 0;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
	text-align: left;
}

/* Images */
figcaption br {
    margin: 0 0 10px 0;
}
.wp-block-image figcaption {
	font-size: 0.75em;
	background-color: $gray-light;
	padding: 0.5em;
	margin-top: 1.5em;
	display: none !important;
}
.wp-block-image:hover figcaption{
	display: table-caption !important;
}

/* Columns */
.wp-block-columns.has-2-columns.small-left .wp-block-column:nth-child( 1 ) {
	flex-basis: calc(10% - 16px);
}
.wp-block-columns.has-2-columns.small-left .wp-block-column:nth-child( 2 ) {
	flex-basis: calc(90% - 16px);
}
.columns-zebra .wp-block-columns:nth-child(odd) {
    background-color: $gray-light;
    margin: 0 -0.9em;
    padding: 1em;
}
.wp-block-columns.spaced-out-divider {
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 0;
	border: 1x solid $gray-med;
}
.wp-block-columns.spaced-out-divider .wp-block-column {
	margin-bottom: 0;
}

/* Buttons */
.wp-block-button__link,
.wp-block-button__link:visited {
    background-color: transparent;
	padding: .3em 1em;
	font-size: 1em;
	border: 1px solid $red;
	color: $red;
	font-weight: normal;
}
.wp-block-button__link:hover,
.wp-block-button__link:focus,
.wp-block-button__link:active {
    border: 1px solid $white;
    color: $white;
	background-color: $red;
	text-decoration: none;
}

/* Heading: Year Divider */
.is-style-year-divider,
.editor-styles-wrapper .is-style-year-divider {
    background-color: $green-bright;
    color: $white;
    text-align: center;
    padding: .5em;
    font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0;
}

/* General Accordions */
.c-accordion__item {
	background: $gray-light;
	margin-bottom: 1em;

	.c-accordion__title {
	    margin: 0 !important;
	    padding: .5em !important;
	}

	.c-accordion__title::after {
	    right: .5em;
	}

	.c-accordion__content {
		padding: 1em;
	}

	button {
		border: 1px dashed #CCC;
		padding: .5em .75em;
	}
	button::after {
		display: none !important;
	}
	button::before {
		content: "\F0FE";
		font-family: "Font Awesome 5 Free";
		font-weight: normal;
		font-style: normal;
		padding: 0 1em 0 .5em;
		color: $gray-dark;
	}
	&.is-open {
		button {
			border: 1px solid #CCC;
		}
		button::before {
		    content: "\F146";
		}
	}
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sr-page-table {
	thead {
	    background-color: $green-light;
	    font-weight: bold;
		text-align: left;
	}
	tbody tr:nth-child(2n+1) {
	    background-color: $gray-light;
	}
	th {
		padding: .5em;
	}
	td {
		padding: .5em;
		vertical-align: top;
	}
}

/* Table Page: Professional Development */
/* Accordion: Upcoming Events */
.accordion-upcoming h4 {
	background: #C2552E;
	color: $white;
	text-align: center;
	padding: 0.2em 0 0.25em 0;
}
.accordion-upcoming h4:after {
	color: white;
	right: 0.65em;
}
.accordion-upcoming iframe {
	width: 100%;
}

/* Table: Professional Development */
.is-style-stever-table-pro-dev tr {
	/* Icon */
	td:nth-child( 1 ) {
		width: 5%;
		text-align: center;
	}
	/* Title */
	td:nth-child( 2 ) {
		width: 55%;
	}
	/* Date */
	td:nth-child( 3 ) {
		width: 10%;
	}
	/* Affiliation */
	td:nth-child( 4 ) {
		width: 30%;
	}
}

/* Admin - Table: Professional Development */
.wp-admin .is-style-stever-table-pro-dev tr {
	/* Icon */
	td:nth-child( 1 ) {
		width: 15%;
		text-align: center;
	}
	/* Title */
	td:nth-child( 2 ) {
		width: 45%;
	}
}

/* Responsive */
@include breakpoint( ms ) {
	/* Table: Professional Development */
    .is-style-stever-table-pro-dev {
        display: block;
        width: 100%;

        thead {
	        display: none;
	    }
	    td {
	        display: inline-block;
	    }
	    tr {
	        display: block;
	        width: 100%

	         /* Icon */
			td:nth-child(1) {
			    width: 10% !important;
			}
			/* Title */
			td:nth-child(2) {
			    width: 90% !important;
			    font-weight: bold;
			}
			/* Date */
			td:nth-child(3) {
			    margin-left: 10%;
			    width: 25% !important;
			    font-style: italic;
			}
			/* Affiliation */
			td:nth-child(4) {
			    width: 65% !important;
			    padding-left: 2em;
			    text-align: right;
			    padding-right: 1em;
			    font-style: italic;
			}
	    }
    }
}

/* Table Page: Books I've Read */
.is-style-stever-table-books {
	/* Title */
	td:nth-child( 1 ) {
		width: 50% !important;
		text-align: left !important;
	}
	/* Author */
	td:nth-child( 2 ) {
		width: 30% !important;
	}
	/* Date */
	td:nth-child( 3 ) {
		width: 15% !important;
	}
}

/* Table Page: Speaking/Teaching */

.is-style-stever-table-speaking {
	/* Date */
	td:nth-child( 1 ) {
		width: 10%;
	}
	/* Event */
	td:nth-child( 2 ) {
		width: 40%;
	}
	/* Affiliation */
	td:nth-child( 3 ) {
		width: 35%;
	}
	/* More Info */
	td:nth-child( 4 ) {
		width: 15%;
	}
}


/* Columns: Features */
.is-style-stever-columns-features .wp-block-column {
    padding: 0 1em 0 0;
    margin: 2em 0 0 0;
}
.is-style-stever-columns-features .wp-block-column:last-child {
	padding-left: 2em;
}

.is-style-stever-columns-features .wp-block-column h4 {
    margin-top: 0;
}
.is-style-stever-columns-features ul {
    margin: 0;
}
.is-style-stever-columns-features .wp-block-column+.wp-block-column {
    border-left: 1px solid #F1f1f1;
}


/* Columns: statistics */
.is-style-stever-columns-statistics .wp-block-column {
    background: #f1f1f1;
    padding: 2em;
    margin-bottom: 1em;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all .5s;
}
.is-style-stever-columns-statistics .wp-block-column h4 {
    margin: 0 0 .5em 0;
    font-size: 2.5em;
    font-weight: bold;
    color: White;
}
.wp-admin .is-style-stever-columns-statistics .wp-block-column h4 {
	font-size: 2em;
}
.is-style-stever-columns-statistics .wp-block-column:hover {
    box-shadow: inset 0 0 10px 5px #CCC;
}
.is-style-stever-columns-statistics .wp-block-column h4:before {
    font-family: "Font Awesome 5 Free";
    display: block;
    margin-bottom: 0.5em;
    font-size: .75em;
    text-align: center;
}
.is-style-stever-columns-statistics .is-style-stever-columns-statistics-pointer{
    background: $accent-green;
}
.is-style-stever-columns-statistics .is-style-stever-columns-statistics-pointer h4:before {
    content: "\f245";
}
.is-style-stever-columns-statistics .is-style-stever-columns-statistics-themes{
    background: $accent-teal;
}
.is-style-stever-columns-statistics .is-style-stever-columns-statistics-themes h4:before {
    content: "\f0e8";
}
.is-style-stever-columns-statistics .is-style-stever-columns-statistics-team {
    background: $accent-red;
}
.is-style-stever-columns-statistics .is-style-stever-columns-statistics-team h4:before {
    content: "\f0c0";
}
.is-style-stever-columns-statistics .is-style-stever-columns-statistics-commits{
    background: $accent-blue;
}
.is-style-stever-columns-statistics .is-style-stever-columns-statistics-commits h4:before {
    content: "\f126";
}

/* Columns: statistics:: On Home */
.home-blocks.is-style-stever-columns-statistics {
    margin-top: 3em;

    a {
	    text-decoration: underline;
	    color: $white;

	    &:hover {
		    text-decoration: none;
	    }
	}
    h4 {
	    font-size: 2.2em;
	    margin: 0;
	    padding: 0 0 .15em 0;

		&:before {
		    display: none;
		}
		a {
			text-decoration: none;
		}
	}
	.wp-block-button {
	    text-decoration: none;
	    margin-left: 1em;

	    .wp-block-button__link,
	    .wp-block-button__link:visited {
		    background: $white;
			color: $black;
			border: 2px solid transparent;
			text-decoration: none;
			opacity: .75;
			cursor: pointer;
	    }
	    .wp-block-button__link:hover {
		    border: 2px solid $gray-dark;
		}
	}
}


/* Gallery */
.blocks-gallery-grid, .wp-block-gallery {
	width: 100%;
}

/* Gallery: Fancybox Outline */
.is-style-fancybox {
	a {
		border: 1px solid $gray-dark;
	}
	img {
	    transition: all .5s;
	    opacity: 0.7;
	    filter: blur( 1px );
	    &:hover {
		    opacity: 1;
		    filter: blur( 0 );
	    }

	}
}