/* 404 Page */
.error404 {
	.page-content {
		padding-right: 1em;

		p {
			margin: 1em 0 2em 0;
		}

		img {
			display: block;
			width: 60%;
			margin: 4em auto 2em auto;
		}

		.search-form {
			label {
				padding-right: 2em;
			}
			.search-field {
				padding-left: 0.75em;
				margin: 0;
			}
			.search-field::placeholder {
				color: $black;
			}
			.search-field:focus::placeholder {
				opacity: 0;
			}
			.search-submit {
				height: 100%;
			}
		}
	}
	aside {
		padding: 0.5em 0 0 1em;
		border-left: 1px solid $gray-med;

		h3 {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
	}
}
