/* 404 Page */
.error404 .page-content {
	padding-right: 1em;
}
.error404 aside {
	padding: .5em 0 0 1em;
	border-left: 1px solid $gray-med;
}
.error404 aside .all-pages ul{
	list-style-type: none;
	margin-left: 0;
}
.error404 aside .all-pages ul.children {
	margin-left: 1em;
}
.error404 .search-form label {
	padding-right: 2em;
}
.error404 .search-form .search-field {
	padding-left: .75em;
	margin: 0;
}
.error404 .search-form .search-field::placeholder {
	color: $black;
}
.error404 .search-form .search-field:focus::placeholder {
	opacity: 0;
}
.error404 .search-form .search-submit {
	height: 100%;
}