// Metabox: Body Class
#stever_body_class-stever-body-class textarea {
	width: 100%;
}

// Edit Post Header: Extra Attention (light blue)
.edit-post-header {
	background-color: #defafa;
}

// Quotes Listings Columns
.wp-admin.post-type-stever_quotes #the-list blockquote {
	margin: 0;

	p {
		color: $black;
		font-size: 1.2em;
	}
}

// Page/Post Listings Columns
#the-list {
	// Check Column
	.check-column {
		padding: 0;
		border-left: 0 !important;

		input {
			margin: 10px 0 0 14px !important;
		}
	}
	// Title Column: Post State Tags (Plugin).
	.column-title .post-state {
		opacity: 0.5;
		margin-left: 2em;

		.states {
			background: $black !important;
		}
	}

	// Category Column
	.column-categories {
		a {
			position: relative;
			border: 1px dashed transparent;
			border-left: 0;
			padding: 1px 6px 3px 8px;
			background-color: $gray-light;
			border-radius: 3px;

			&:before {
				content: '';
				width: 4px;
				height: 100%;
				background-color: transparent;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		a[href='edit.php?category_name=uncategorized'] {
			border-color: $red-error;
			&:before {
				background-color: $red-error;
			}
		}
		a[href='edit.php?category_name=management'] {
			border-color: $green;
			&:before {
				background-color: $green;
			}
		}
		a[href='edit.php?category_name=development'] {
			border-color: $accent-teal;
			&:before {
				background-color: $accent-teal;
			}
		}
		a[href='edit.php?category_name=event-notes'] {
			border-color: $yellow;
			&:before {
				background-color: $yellow;
			}
		}
	}
	tr:nth-child(odd) .column-categories a {
		background-color: $white;
	}

	// Workflow Column
	.column-taxonomy-stever_workflow {
		color: transparent !important;

		a {
			background: #ffc0cb1f;
			border: 1px solid #b2555536;
			padding: 3px 5px;
			border-radius: 2px;
			display: inline-block;
			margin-bottom: 8px;
			color: black;
		}
		a[href='edit.php?post_type=page&stever_workflow=ready'],
		a[href='edit.php?stever_workflow=ready'] {
			background: transparent;
			border: 1px solid #77b255;
		}
		a[href='edit.php?post_type=page&stever_workflow=never-publish'],
		a[href='edit.php?stever_workflow=never-publish'] {
			background: transparent;
			border: 1px solid #77b255;
		}
	}

	tr {
		cursor: unset;
	}
	/* Indent nested posts. */
	tr.level-1 {
		.check-column {
			padding-left: 2em;

			label {
				width: 4.2em;
			}
		}

		.column-title {
			padding-left: 2.6em;
		}
	}

	.row-actions {
		left: auto;
		opacity: 0.5;
		transition: all 0.5s;

		/* Duplicate Post plugin: hide the "number of duplicates" input. */
		.dppmc_btn_count input {
			display: none !important;
		}

		/* Simple Page Ordering plugin. */
		[class^='spo-move'] {
			display: none !important;
		}
	}

	tr:hover .row-actions {
		opacity: 1;
	}
}

// Dashboard Widgets
.stever-dashboard-widget {
	ul {
		padding-left: 1.5em;
	}

	li {
		margin: 0;
		padding: 0;

		.post-info-wrap {
			border-bottom: 1px solid #eee;
			padding: 0.2em 0;

			.linkview {
				float: right;
				clear: both;
				font-size: 0.8em;
			}
			small.status {
				margin-left: 1em;
				font-size: 0.65em;
				opacity: 0.5;
			}
		}
	}
	& > li:last-child .post-info-wrap {
		border: 0 none;
	}
}

/* Dashboard Widgets.
 * Very opinionated to my setup.
 */
#dashboard-widgets {
	#dashboard_widget_maps h2,
	#dashboard_widget_unfinished_posts h2,
	#dashboard_widget_recently_updated h2,
	#dashboard_widget_all_pages h2 {
		flex-grow: 0;
	}
	#dashboard_widget_maps h2::before,
	#dashboard_widget_unfinished_posts h2::before,
	#dashboard_widget_recently_updated h2::before,
	#dashboard_widget_all_pages h2::before {
		font-family: 'Dashicons';
		padding-right: 0.5em;
		vertical-align: middle;
		color: $red;
		font-weight: normal;
		font-size: 1.5em;
	}
	#dashboard_widget_maps h2::before {
		content: '\f319';
	}
	#dashboard_widget_unfinished_posts h2::before {
		content: '\f464';
	}
	#dashboard_widget_recently_updated h2::before {
		content: '\f469';
	}
	#dashboard_widget_all_pages h2::before {
		content: '\f163';
	}
}
