/* Blocks: Unique Classes - Global */

// Why is the default 2?
.wp-block-separator {
	border-top: 1px solid;
}

// Gallery: Fancybox Outline
.is-style-fancybox {
	a {
		outline: 1px solid $gray-dark;
	}
	img {
		transition: all 0.5s;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
}

// Columns: Event Notes Header.
.is-style-stever-columns-event-notes {
	.wp-block-column:first-of-type {
		flex-grow: 3;
	}
	.wp-block-column:last-of-type {
		flex-grow: 2;
	}

	figure {
		outline: 1px solid $gray-dark;
		box-shadow: 3px 3px 3px $gray-dark;
	}
}

// Quote - Attention (cautionary note)
.is-style-attention {
	border-left: 3px solid $yellow;
	background: $gray-light;
	padding: 1em;

	img.emoji {
		margin-right: 5px !important;
	}

	p {
		margin: 0.25em;
	}

	ul {
		margin: 0 0 0 0.5em;
		position: relative;

		li {
			padding-left: 0.25em;
		}
	}
}
// Quote - Graphic (with a big ")
.is-style-graphic {
	position: relative;
	border: 0 none;
	background: #f7f7f7;
	padding: 1.25em 1em 0.25em 1em;

	p {
		margin: 0 0.5em 1em 0.5em;
	}

	ul {
		margin: 0 0 1em 1em;
	}

	&::before {
		content: '\201C';
		position: absolute;
		font-size: 4em;
		top: -0.25em;
		left: -0.15em;
		color: $green-bright;
	}
}

// Image - Polaroid
.is-style-polaroid {
	transform: rotate(3deg);
	margin: 1em 1em 0 1em;
	padding: 0.5em;
	border: 1px solid $gray-med;
	border-color: $gray-med #999 #999 $gray-med;
	border-radius: 3px;
	box-shadow: 3px 3px 3px $gray-med;
	text-align: center;

	figcaption {
		margin-bottom: 0;
	}

	&:hover {
		transition: all 0.25s;
		box-shadow: 1px 1px 8px $black;
	}
}

// List - Extra Vertical Spacing
.is-style-extra-vertical-spacing {
	> li {
		margin-bottom: 1.5em;
	}
	ul > li {
		margin-top: 0.75em;
	}
}

li.is-style-quote {
	position: relative;
	background-color: $gray-light;
	padding: 0.3em 0.5em;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	border-left: 3px solid $green-light;
	margin-left: 0.15em;

	&::before {
		content: '\201C';
		position: absolute;
		font-size: 2em;
		top: 0;
		left: -0.15em;
		color: $green-bright;
	}
}

// Group - Extra Spacing Above
.is-style-extra-spacing-above {
	margin-top: 8em;
}

// Heading - No Vertical Spacing Above.
.is-style-no-spacing-above {
	margin-top: 0 !important;
}

// Event Notes - In Progress
.sr-event-notes-in-progress {
	background: $red;
	color: $white;
	border: 2px solid $black !important;
	margin: 2.5em -2em 0 -2em !important;
	padding: 0.5em 0 !important;
	text-align: center;
	font-size: 1.25em;
}
.block-editor-iframe__body .sr-event-notes-in-progress {
	margin: 0 !important;
	padding: 0 !important;

	p {
		margin: 0;
	}
}

@include breakpoint(p) {
	.sr-event-notes-in-progress {
		margin: 2.5em 0 0 0 !important;
		text-wrap: balance;
	}
}

// Query Block - Zebra Striped.
.wp-block-query {
	.wp-block-columns.are-vertically-aligned-center,
	.wp-block-column.is-vertically-aligned-center {
		align-self: start;
		align-items: start;
	}

	li {
		padding: 1em;
		margin: 0 -1em;

		&:nth-child(even) {
			background: #f1f1f1;
			background: linear-gradient(
				to right,
				rgba(255, 255, 255, 0) 0%,
				rgb(247, 247, 247) 30%,
				rgb(241, 241, 241) 50%,
				rgb(246, 246, 246) 70%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}

	h2 {
		margin: 0 0 0.5em 0;
	}

	.wp-block-post-featured-image {
		text-align: right;
		img {
			outline: 1px solid $gray-dark;
			width: auto !important;
			height: auto !important;
			max-width: 100%;
			max-height: 300px;
			box-shadow: 3px 3px 3px $gray-dark;
		}
	}
	.wp-block-categories.wp-block-categories-list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
			display: inline-block;
			background: unset;

			&:not(:last-of-type)::after {
				content: '|';

				padding: 0 0.5em;
			}
		}
	}
}
@include breakpoint(m) {
	.wp-block-query {
		li:not(:first-child) {
			border-top: 1px solid #ccc;
		}
		.wp-block-post-featured-image {
			text-align: center;
		}
	}
}

/* Group->Grid */
.wp-block-group.is-layout-grid {
	gap: 2em;
}
@include breakpoint(m) {
	.wp-block-group.is-layout-grid {
		grid-template-columns: 100%;

		.wp-block-group {
			grid-column: unset !important;
		}
		.wp-block-group::before,
		.wp-block-group::after {
			content: '' !important;
			display: none !important;
		}
	}
}

/* Group->Grid: Internal Grid */
.wp-block-group.is-layout-grid.is-style-stever-grid-internal {
	overflow: hidden;
	margin-top: 4em;

	.wp-block-group {
		position: relative;
		.wp-block-group__inner-container {
			padding: 0.5em 1em;
			margin: -0.5em -1em;
		}

		.wp-block-heading {
			margin-top: 0;
		}
	}

	/* Internal Grid. Via: https://geary.co/internal-borders-css-grid */
	/* Internal Grid: Pseudo Element Shared Styling */
	.wp-block-group::before,
	.wp-block-group::after {
		content: '';
		position: absolute;
		background-color: $gray-light;
		z-index: 1;
	}

	/* Internal Grid: Row Borders */
	.wp-block-group::after {
		inline-size: 100vw;
		block-size: 1px;
		inset-inline-start: 0;
		inset-block-start: -1em;
	}

	/* Internal Grid: Column Borders */
	.wp-block-group::before {
		inline-size: 1px;
		block-size: 100vh;
		inset-inline-start: -1em;
		margin-top: -1em;
	}
}

/* Half-Rounded - For Columns & Groups. */
.is-style-stever-attention-half-rounded {
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	transition: all 0.5s;
	color: $white;
	padding: 2.5em 2em 4em 2em;

	&:hover {
		box-shadow: inset 0 0 10px 5px $gray-med;
		transition: all 0.5s;

		.wp-block-button a,
		.wp-block-button a:visited {
			border-color: $white;
			color: $white;
			background-color: #ffffff4f;
			outline: 1.5px solid white;
			transition: all 0.5s;
		}
	}

	h4 {
		font-size: 2.5em;
	}
	a,
	a:visited {
		color: $white;
	}
	p {
		color: $white;
	}

	.wp-block-heading {
		color: $white;
		margin: 0 0 0.5em 0;

		i,
		em {
			font-family: $fonts-icon;
			font-style: unset;
			font-weight: unset;
			font-size: 0.75em;
			display: block;
			margin-bottom: 1em;
		}
	}
	.wp-block-separator {
		mix-blend-mode: luminosity;
	}
	.wp-block-button {
		mix-blend-mode: luminosity;

		a {
			border-color: $white;
		}
	}
}
/* HOME: Half-Rounded - For Columns & Groups. */
.home .is-style-stever-attention-half-rounded {
	position: relative;
	padding-bottom: 5em;

	h5 {
		font-size: 1.5em;
		margin: 0 0 1.5em 0;
	}

	.wp-block-buttons {
		position: absolute;
		bottom: 2em;
		left: 50%;
		transform: translateX(-50%);
	}
}

/* Color Palette Classes. */
.has-green-background-color {
	background-color: $green;
}

.has-green-bright-background-color {
	background-color: $green-bright;
}

.has-brown-background-color {
	background-color: $brown;
}

.has-red-background-color {
	background-color: $red;
}

.has-white-background-color {
	background-color: $white;
}

.has-gray-background-color {
	background-color: $gray;
}

.has-gray-light-background-color {
	background-color: $gray-light;
}

.has-gray-med-background-color {
	background-color: $gray-med;
}

.has-gray-dark-background-color {
	background-color: $gray-dark;
}

.has-accent-green-background-color {
	background-color: $accent-green;
}

.has-accent-teal-background-color {
	background-color: $accent-teal;
}

.has-accent-red-background-color {
	background-color: $accent-red;
}

.has-accent-blue-background-color {
	background-color: $accent-blue;
}
