/* Blocks: Unique Classes - Home */

#hi {
	margin-top: 0;
}

// Home: Section Blocks
.stever-home-section {
	margin-bottom: 4em;

	&:last-of-type {
		margin-bottom: 2em;
	}
}

// Bio
.stever-home-section-intro {
	figure {
		flex-direction: column;
	}
}
@include breakpoint(l) {
	.stever-home-section-intro {
		.wp-block-column:first-child {
			flex-basis: calc(70% - 1em) !important;
		}
		.wp-block-column:last-child {
			flex-basis: calc(30% - 1em) !important;
		}
	}
}
@include breakpoint(s) {
	.stever-home-section-intro {
		.wp-block-column:first-child,
		.wp-block-column:last-child {
			flex-basis: 100% !important;
		}
		.wp-block-column {
			& figure {
				display: flex;
				justify-content: center;
				align-items: center;

				& img {
					max-width: 250px;
				}
			}
		}
	}
}
