// Page Title: Extra Attention
.editor-post-title {
	border-bottom: 4px double black;
	margin-bottom: 2em;
}

// Table: Professional Development (Admin)
.sr-page-table-prodev {
	// Legend Textarea size & spacing.
	.wp-block-html textarea {
		min-height: 500px;
		line-height: 1.5em;
	}

	.is-style-stever-table-pro-dev {
		// Hide placeholder text.
		thead th:first-child {
			opacity: 0;
		}
		// Icon
		td:nth-child(1) {
			width: 10%;
			font-size: 0.75em;
			padding: 0.75em 0;
		}
		// Title
		td:nth-child(2) {
			width: 45%;
		}
		// Affiliation
		td:nth-child(3) {
			width: 30%;
		}
		// Date
		td:nth-child(4) {
			width: 15%;
			padding-right: 0.5em;
		}
	}
}

code {
	border: 1px solid $gray-med;
	background-color: $gray-light;
	padding: 1px 3px;
}

// Table: Books I've Read
.is-style-stever-table-books {
	th,
	td {
		padding: 0.5em;
	}
}

// Spacer - Outline
.wp-block-spacer {
	border: 1px dotted $gray-dark;
	&::before {
		content: '(spacer)';
		text-align: center;
		font-size: 0.65em;
	}
}

// Group, Columns -- Outline
.wp-block-group,
.wp-block-columns,
.wp-block-column {
	border: 1px dotted $gray-dark;
	background-image: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 5px,
		$gray-med 0,
		$gray-med 10px
	);
	background-size: 3px 100%;
	background-repeat: no-repeat;
	padding-left: 1rem;
}

.wp-block-group::before,
.wp-block-columns::before,
.wp-block-column::before {
	content: 'group';
	position: absolute;
	top: 0px;
	left: 0;
	transform: rotate(-90deg) translateX(-100%);
	transform-origin: top left;
	background: $gray-med;
	padding: 0 2px 4px 2px;
	color: $white;
	font-size: 8px;

	line-height: 8px;
}
.wp-block-columns::before {
	content: 'columns';
}
.wp-block-column::before {
	content: 'column';
}

/* Home - Half Rounded: Account for buttons. */
.home .is-style-stever-attention-half-rounded {
	padding-bottom: 1em;

	.wp-block-buttons {
		position: relative;
		bottom: 0;
	}
}
