/*
 * Debugging Breakpoints. Adds helper text.
 */
@media screen and ( min-width: 64em ) {
	#site-branding::after {
	    content: "Large Up. min-width: 64em";
	}
}
@media screen and ( max-width: 63.9375em ) {
	#site-branding::after {
	    content: "Medium Down. max-width: 63.9375em";
	}
}
@media screen and ( max-width: 40em ) {
	#site-branding::after {
	    content: "Small Down. max-width: 40em";
	}
}
@media screen and ( max-width: 27.5em ) {
	#site-branding::after {
	    content: "X-Small only. max-width: 27.5em";
	}
}