/*
 * Debugging Breakpoints. Adds helper text when a page has 'sr-breakpoints' as a class.
 */
 .logged-in.sr-breakpoints #site-branding::after {
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	padding: 0.5em 0;

	@include breakpoint( l ) {
		content: "Large & Up. min-width: 64em (1024px)";
	}
	@include breakpoint( m ) {
		content: "Medium Down. max-width: 63.9375em (1023px)";
	}
	@include breakpoint( ms ) {
		content: "Medium-Small Down. max-width: 40em (780px)";
	}
	@include breakpoint( s ) {
		content: "Small Down. max-width: 40em (640px)";
	}
	@include breakpoint( xs ) {
		content: "X-Small only. max-width: 27.5em (440px)";
	}
}