html {
	min-width: 320px;
}

body {
	background: rgb(247, 247, 247);
	background: linear-gradient(
		90deg,
		rgba(247, 247, 247, 1) 20%,
		rgba(255, 255, 255, 1) 30%,
		rgba(255, 255, 255, 1) 70%,
		rgba(247, 247, 247, 1) 80%
	);
	font-family: $fonts-copy;
	font-display: fallback;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $fonts-headings;
	font-display: fallback;
	color: $gray-darkest;
	line-height: 1em;
	margin: 0;
	padding: 0;
	font-weight: 900;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

p {
	margin-bottom: 1em;
}

a {
	text-decoration: underline;
	text-underline-offset: 2px;
	color: $blue;
}
a:not(:is(:hover, :focus, .button)) {
	color: $red;
	text-decoration-color: color-mix(in srgb, currentColor, transparent 75%);
}

#main {
	padding: $frem $frem $dfrem $frem;
}
@include breakpoint(s) {
	#main {
		padding: 1em 0.25em;
	}
}
@include breakpoint(xs) {
	#main::before {
		content: '';
		width: 50%;
		height: 1px;
		background: #ccc;
		margin: 2em auto 3.75em auto;
		display: block;
	}
	.home #main::before {
		background: transparent;
		margin: 1em auto;
	}
}

code {
	border: 1px solid $gray-med;
	background-color: $gray-light;
	font-family: $fonts-mono;
	font-display: fallback;
	font-size: 0.75em;
	box-shadow: 0 2px 0 $gray-med;
	border-radius: 3px 3px 3px 3px;
	padding: 1px 1px 2px 4px;
}

q {
	position: relative;
	background-color: $gray-light;
	padding: 0.3em 0.5em;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	border-left: 3px solid $green-light;
	margin-left: 0.15em;

	&::before {
		content: '\201C';
		position: absolute;
		font-size: 2em;
		top: 0;
		left: -0.15em;
		color: $green-bright;
	}
}
li:has(> q) {
	padding: 0.25em 0;
}

mark {
	background-color: $yellow-light !important;
	background: linear-gradient(180deg, $yellow-light 65%, $yellow-neon 100%);
	border-radius: 2px;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

blockquote,
blockquote p {
	color: $gray-darkest;
}

blockquote {
	margin: 0 0 1rem;
	padding: 0.25em 0 0.25em 0.5em;
	border-left: 3px solid $green-bright;
}

mark {
	padding: 0 0.25em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HT: https://dylanatsmith.com/wrote/styling-the-kbd-element */
kbd {
	background-color: $gray-light;
	color: $black;
	border-radius: 0.25rem;
	border: 1px solid $gray-dark;
	box-shadow: 0 2px 0 1px $gray-dark;
	cursor: default;
	font-family: $fonts-mono;
	font-size: 0.75em;
	line-height: 1;
	min-width: 0.75rem;
	display: inline-block;
	text-align: center;
	padding: 2px 5px;
	position: relative;
	top: -2px;
	margin: 0 1px 0 0.5em;
	&:hover {
		box-shadow: 0 1px 0 0.5px $black;
		border-color: $black;
		top: 0;
	}
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	margin: 1.5em 0;
	line-height: 1.35em;
}

.entry-content ul {
	margin-left: 0;
	margin-bottom: 0.5em;
	line-height: 1.75em;
}

.entry-content li {
	margin-left: 1em;
	margin-block: 0.25lh;

	ul li {
		margin-bottom: 0;
		list-style-type: circle;

		li {
			list-style-type: disc;

			li {
				list-style-type: circle;

				li {
					list-style-type: disc;
				}
			}
		}
	}

	.wp-block-gallery,
	.wp-block-columns {
		margin: 1em 0;
	}
}

.entry-content p {
	margin-block: 0 0.5lh;
}

.post,
.page {
	margin-bottom: 0;
}

.page-content,
.entry-content,
.entry-summary {
	margin-top: 1.5em;
}
@include breakpoint(s) {
	.entry-content {
		margin-top: 0;
	}
}

p:last-child {
	margin-bottom: 0;
}

#content {
	background-color: $white;
	border-radius: 3px;
	border: 1px solid $gray-med;
	margin-bottom: 4em;
}

.blog article {
	margin-bottom: 2em;
}

figure {
	margin-bottom: 1em;
}

figcaption {
	font-size: 0.8em;
}
