html {
	min-width: 320px;
}

body {
	background: rgb(247, 247, 247);
	background: linear-gradient(
		90deg,
		rgba(247, 247, 247, 1) 20%,
		rgba(255, 255, 255, 1) 30%,
		rgba(255, 255, 255, 1) 70%,
		rgba(247, 247, 247, 1) 80%
	);
	font-family: $fonts-copy;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $fonts-headings;
	color: $gray-darkest;
	line-height: 1em;
	margin: 0;
	padding: 0;
	font-weight: 900;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

p {
	margin-bottom: 1em;
}

a,
a:visited {
	color: $red;
	transition: all 0.5s;
}

a:hover,
a:active {
	text-decoration: underline;
	color: $blue;
}

#main {
	padding: 0.9375rem 0.9375rem 1.875rem 0.9375rem;
}

@include breakpoint(s) {
	#main {
		padding: 1em 0.25em;
	}
}

code {
	border: 1px solid $gray-med;
	background-color: $gray-light;
}

blockquote,
blockquote p {
	color: $gray-darkest;
}

blockquote {
	margin: 0 0 1rem;
	padding: 0.25em 0 0.25em 0.5em;
	border-left: 3px solid $green-bright;
}

mark {
	padding: 0 0.25em;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	margin: 2em 0 1em 0;
	line-height: 1.35em;
}

.entry-content ul {
	margin-left: 0;
	margin-bottom: 0.5em;
	line-height: 1.75em;
}

.entry-content li {
	margin-left: 1em;
	li {
		margin-bottom: 0;
		list-style-type: circle;

		li {
			list-style-type: disc;

			li {
				list-style-type: circle;

				li {
					list-style-type: disc;
				}
			}
		}
	}

	.wp-block-gallery,
	.wp-block-columns {
		margin: 1em 0;
	}
}

.post,
.page {
	margin-bottom: 0;
}

.page-content,
.entry-content,
.entry-summary {
	margin-top: 1em;
}

p:last-child {
	margin-bottom: 0;
}

#content {
	background-color: $white;
	border-radius: 3px;
	border: 1px solid $gray-med;
	margin-bottom: 4em;
}

.blog article {
	margin-bottom: 2em;
}

figure {
	margin-bottom: 1em;
}

figcaption {
	font-size: 0.8em;
}
