/* Header */
#masthead {
	padding: 0;
	position: relative;
}

#site-branding {
	position: relative;
	padding: 0;

	.custom-logo-link {
		position: absolute;
		max-width: 300px;
		top: 1em;
		left: 1em;
		img {
			filter: drop-shadow(3px 3px 3px #999);
			transition: all 0.2s;
		}
		img:hover {
			filter: drop-shadow(0 0 6px #999);
		}
	}
}

#social-navigation {
	background-color: $white;

	#social-icons {
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-gap: 0.5em;
		margin: 0;
		justify-content: right;
		padding: $frem $dfrem;

		li {
			list-style: none;
			text-align: center;
			font-size: 1.75em;

			&:last-child {
				margin-right: -0.25em;
			}
		}
		a {
			padding: 0 0.25em;
		}
	}
}

#primary-menu {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: right;
	list-style: none;
	padding: 1.875rem;
	margin: 0;
	grid-gap: 1.25em;
	font-size: 1.15em;

	li {
		line-height: 100%;
	}
	li + li {
		border-left: 2px solid $gray-med;
		padding-left: 1.25em;
	}
	a {
		font-weight: bold;
	}
	.current-menu-item {
		font-weight: bold;

		a:not(:is(:hover, :focus, .button)) {
			color: #412613;
		}
		@include breakpoint(xs) {
			a:not(:is(:hover, :focus, .button)) {
				color: $red;
			}
		}
	}
}

/* Page headings (H1s, buttons). */
.page-header,
.entry-header {
	position: relative;
	border-left: 10px solid $green-bright;
	padding: 1.5em 1em 1.5em 1.25em;
	margin: $nfrem $ndfrem 1rem $ndfrem;
	background: $green;

	h1 {
		color: $white;
		line-height: 1.25em;
	}

	.button {
		position: absolute;
		right: 2em;
		top: 50%;
		transform: translateY(-50%);
	}
}

/* Hide home's H1. */
.home .page-header {
	display: none;
}

// Breakpoint: small
@include breakpoint(s) {
	#site-branding .custom-logo-link {
		position: relative;
		max-width: 100%;
		width: 100%;
		top: 0;
		left: 0;
		padding: 1em;
	}

	#social-navigation {
		#social-icons {
			grid-gap: 2em;
			justify-content: center;
			li {
				font-size: 2em;

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	#primary-menu {
		justify-content: center;
		font-size: 1.2em;
	}

	.page-header,
	.entry-header {
		margin: -1em -1em 2em -1em;
	}
}

// Breakpoint: x-small
@include breakpoint(xs) {
	#social-navigation {
		#social-icons {
			li {
				font-size: 2.25em;
			}
		}
	}

	.menu-primary-container {
		position: relative;
		border: 1px solid $gray-med;
	}
	#primary-menu {
		display: block;
		font-size: 1.5em;
		padding: 0;
		border-left: 1.5em solid $gray-light;

		li {
			padding: 0.75em;
			border-top: 1px solid $gray-med;
			border-left: 1px solid $gray-med;
		}
		li + li {
			padding: 0.75em;
			border-top: 1px solid $gray-med;
			border-left: 1px solid $gray-med;

			a {
				padding: 0;
				border: 0 none;
			}
		}
		li:first-child {
			border-top: 0 none;
		}
	}
	#primary-menu::before {
		content: '\f0c9\2004\2004 Menu';
		text-transform: uppercase;
		position: absolute;
		font-size: 0.75em;
		top: 50%;
		left: 1em;
		transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		font-family: $fonts-icon;
		font-weight: 900;
		color: $gray-darkest;
	}
	#content {
		border: 0 none;
	}

	#primary-menu .current-menu-item {
		border-left: 10px solid #c2552e;
		a {
			margin-left: -10px;
		}
	}
}
