// Helper: Universal 'hidden' Class 
.hidden {
	display: none !important;
	visibility: hidden;
}


// Helper: negative top margin
.margin-negative-top {
    margin-top: -1em;
}


// Helper: Hidden Page Header 
.heading-hide .page-header {
    display: none;
}


// Helper: Button: Ghost 
.button-ghost,
.button-ghost:visited,
.button-ghost:active,
.button-ghost[type="submit"] {
	font-size: .85em;
	border: 3px solid $blue;
	background: $white;
	color: $black;
	cursor: pointer;
	transition: all .5s;
}
.button-ghost:hover,
.button-ghost:visited:hover,
.button-ghost:active:hover,
.button-ghost[type="submit"]:hover {
	border-color: $red;
	background: $white;
	color: $black;
}


// Helper: Island Class 
.island {
    margin: 0em -2em 2em -2em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3em;
    background: url("img/bg_gray.png");
    position: relative;
}
.island::before,
.island::after {
    width: 100%;
    height: 2em;
    background: rgb(255,255,255);
    background: linear-gradient( 180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100% );
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0
}
.island::after {
    top: auto;
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient( 0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100% );
}
.island iframe {
    display: block;
    border: 1px solid #CCC;
    width: 100%;
}