// Tell browswers to use view transitions.
@view-transition {
	navigation: auto;
}

// Universal 'hidden' Class
.hidden {
	display: none !important;
	visibility: hidden;
}
.visually-hidden {
	transition: all 0.5s ease;
	position: relative;
	opacity: 0;

	&::before {
		content: '';
		position: absolute;
		z-index: 999;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.sr-outline {
	outline: 1px solid $gray-med;
}

// Universal 'aligncenter' class
.entry-content .aligncenter {
	width: 80%;
}

// List: Indented;
.entry-content .is-style-stever-list-indented {
	margin-left: 1em;
}
@include breakpoint(xs) {
	.entry-content .is-style-stever-list-indented {
		margin-left: 0;
	}
}

// Quote - Attention.
.is-style-attention {
	border-left: 3px solid $yellow;
	background: $gray-light;
	padding: 1em;

	p {
		margin: 0.25em;
	}
}

// List - Extra Vertical Spacing.
.entry-content .is-style-extra-vertical-spacing {
	> li {
		margin-bottom: 1.5em;
	}
	ul > li {
		margin-top: 0.75em;
	}
}

// Heading - No Vertical Spacing Above.
.is-style-no-spacing-above {
	margin-top: 0 !important;
}

// Negative top margin
.margin-negative-top {
	margin-top: -1em;
}

// Bottom Margin
.has-margin-bottom {
	margin-bottom: 2em;
}

// Hidden Page Header
.heading-hide .page-header {
	display: none;
}

// Button: Ghost
.button-ghost,
.button-ghost:visited,
.button-ghost:active,
.button-ghost[type='submit'] {
	font-size: 0.85em;
	border: 2px solid $black;
	background: #fff5;
	color: $black;
	cursor: pointer;
	text-decoration: none;
	border-radius: 3px;
}
.button-ghost:hover,
.button-ghost:visited:hover,
.button-ghost:active:hover,
.button-ghost[type='submit']:hover {
	border-color: $black;
	background: #0005;
	color: $white;
}

// Island Class
.island {
	margin: 0em -2em 2em -2em;
	border-left: 1px solid $gray-med;
	border-right: 1px solid $gray-med;
	padding: 3em;
	background: url('img/bg_gray.png');
	position: relative;
}
.island::before,
.island::after {
	width: 100%;
	height: 2em;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
}
.island::after {
	top: auto;
	bottom: 0;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}
.island iframe {
	display: block;
	border: 1px solid $gray-med;
	width: 100%;
}

/* Ripple transforms for tooltip indicators. */
@keyframes ripple {
	from {
		transform: scale(0);
		opacity: 1;
	}
	to {
		transform: scale(3.5);
		opacity: 0;
	}
}

/* Spin transforms for table marker indicators (url?m=item) */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
