/* Post-specific: The Power of Keeping Lists */
.post--keeping-lists {
	table {
		border: 1px solid $gray-med;
		margin-bottom: 0;
	}
	thead {
		border-bottom: 1px solid $gray-med;
	}
	td {
		padding: 6px;
		vertical-align: top;
	}
	table td + td,
	.wp-block-table.is-style-stripes th + th,
	.wp-block-table.is-style-stripes td + td {
		border-left: 1px solid $gray-med;
	}
	.wp-block-pb-accordion-item {
		margin-bottom: 2.5em;
	}

	@include breakpoint(l) {
		figure.alignright {
			float: none;
			margin: 0 auto;
		}
	}
}

/* Posts w/ "Event Notes" category get larger heading spacing.*/
.single.cat-event-notes {
	h2 {
		background:
			linear-gradient($white, $white) padding-box,
			linear-gradient(to right, $green-bright, transparent) border-box;
		margin: 0 0 0.75em calc(-1em - 2px);
		padding: 0.2em 1em 0.25em 1em;
		border-bottom: 2px solid transparent;

		position: relative;

		&:before {
			content: '';
			background:
				linear-gradient($white, $white) padding-box,
				linear-gradient(0deg, $green-bright, transparent) border-box;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 99999;
			border-left: 4px solid transparent;
		}
	}

	@include breakpoint(s) {
		h2 {
			margin: 0px 0 0.75em calc(-0.5em - 2px);
		}
	}

	.wp-block-group:not(:first-of-type) {
		margin-top: 2.5em;
	}

	.is-style-notes-sessions-list {
		.wp-block-group {
			border-left: 1px dashed $gray-med;
			padding-left: 1em;
			margin-bottom: 3em;
		}

		.wp-block-list {
			margin-left: 0.4em;
		}

		h3 {
			margin: 1.5em 0 1em 0;
			border-bottom: 1px solid #ccc;
		}

		.wp-block-quote {
			&.is-style-graphic {
				margin-left: calc(-1em - 1px);
				padding: 1.25em 1em 0 1em;

				// clearfix
				&:after {
					content: '';
					display: table;
					clear: both;
				}
			}

			h3 {
				border: 0 none;
				font-size: 1.25em;
				margin: 0 0.5em 0.5em 0.4em;
			}
		}

		.wp-block-image {
			img {
				outline: 1px solid $gray-med;
			}
			.alignright {
				margin: 0 0 1em 1em;
			}
		}

		@include breakpoint(s) {
			.wp-block-image:has(.alignright) {
				justify-content: center;
				display: flex;

				.alignright {
					float: none;
					margin: 1em 0;
				}
			}
		}
	}
}

/* Posts archive */
.archive-listing.is-style-zebra-striped {
	article {
		padding: 1em;
		margin: 0 -1em;

		&:nth-child(even) {
			background: #f1f1f1;
			background: linear-gradient(
				to right,
				rgba(255, 255, 255, 0) 0%,
				rgb(247, 247, 247) 30%,
				rgb(241, 241, 241) 50%,
				rgb(246, 246, 246) 70%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}
	h2 {
		padding: 0;
	}
}

.sr-resume-container {
	border: 1px solid $gray-med;
	box-shadow: 5px 5px 5px $gray-med;
	margin-top: 2em;
	padding-bottom: 1em;

	.wp-block-group {
		padding: 1em 1em 0 1em;
	}

	h2 {
		margin: 0;
		padding: 0 0 0.5em 0;
	}

	h3 {
		margin: 0;
		padding: 0 0 0.5em 0;
	}

	.sr-resume-header {
		background: $gray-light;
	}

	.sr-resume-content {
		h2 {
			border-bottom: 4px solid $green-bright;
			padding-bottom: 0;
			margin-bottom: 1em;
		}

		table td {
			border-color: $gray-light;
		}
	}
	.sr-resume-content:last-child h2 {
		margin-bottom: 0;
	}
}
@include breakpoint(m) {
	.sr-resume-container {
		margin-bottom: 1em;

		h3 {
			padding: 1em 0;
		}
		table,
		.wp-block-table {
			margin-bottom: 0;
		}
		.sr-resume-header .wp-block-group.is-layout-grid {
			grid-template-columns: calc(40% - 1em) calc(60% - 1em);
		}
		.sr-resume-asa {
			padding: 0;
		}
		.sr-resume-asa:last-child {
			margin-bottom: 1em;
		}
	}
}
