// Quotes Archive
.post-type-archive-stever_quotes {
	.entry-header {
		border: 0 none;
	}
	.entry-content {
		margin: 2.5em 0;
	}
	blockquote {
		border-width: 1px;
		padding-left: 1.25em;
	}
}

// Quotes Archive (in slidehow mode)
.quotes-slideshow {
	margin-top: 0 !important;
	overflow: hidden;
	height: 100%;
	
	&.fixate-admin-menu.folded {
		margin: 0 !important;
	}
	
	body,
	.site {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	// Hide page elements.
	#wpadminbar,
	#masthead,
	.page-header,
	.site-footer,
	article{
		display: none;
	}
	.site {
		display: table;
		width: 100%;
	}
	.site-content {
		display: table-cell;
		vertical-align: middle;
	}
	
	article.active {
		display: block;
	}
	
	.quotes-progress-indicator {
		height: 5px;
		background: $gray-med;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		
		span{
			width: 0%;
			background: red;
			height: 5px;
			display: inline-block;
			vertical-align: top;
		}
	}
	
	blockquote {
		padding: 1em 1.5em 1em 2em;
		border-width: 1px;
		
		p {
			font-size: 2.5em;
		}
		cite {
			font-size: 2em;
			margin-top: 1em;
		}
	}
}