/* Quotes Archive */
.post-type-archive-stever_quotes .entry-header {
	border: 0 none;
}

/* Quotes Archive (in slidehow mode) */
.quotes-slideshow {
	margin-top: 0 !important;
	overflow: hidden;
}
html.quotes-slideshow.fixate-admin-menu.folded {
	margin: 0 !important;
}
.quotes-slideshow,
.quotes-slideshow body,
.quotes-slideshow .site {
	height: 100%;
	margin: 0;
	padding: 0;
}
.quotes-slideshow .site {
	display: table;
	width: 100%;
}
.quotes-slideshow .site-content {
	display: table-cell;
	vertical-align: middle;
}

.quotes-slideshow #wpadminbar,
.quotes-slideshow #masthead,
.quotes-slideshow .page-header,
.quotes-slideshow .site-footer,
.quotes-slideshow article{
	display: none;
}

.quotes-slideshow article.active {
	display: block;
}
.quotes-slideshow .quotes-progress-indicator {
	height: 5px;
	background: $gray-med;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.quotes-slideshow .quotes-progress-indicator span{
	width: 0%;
	background: red;
	height: 5px;
	display: inline-block;
	vertical-align: top;
}
.quotes-slideshow blockquote p {
	font-size: 2.5em;
}
.quotes-slideshow blockquote cite {
    font-size: 2em;
	margin-top: 1em;
}

.quotes-slideshow article.clLarge blockquote p {
	font-size: 2em;
}
.quotes-slideshow article.clLarge blockquote cite {
	font-size: 1.5em;
}

/* Admin Menu in Frontend Plugin */
.quotes-slideshow #adminmenumain{
	display: none !important;
}
html.quotes-slideshow.fixate-admin-menu{
	margin-left: 0 !important;
}