// Search Results Page
.search-results {
	article {
		margin: 2em 0 2em -1em;
		padding: 1.5em 1em;
		border-left: 3px solid $gray-med;

		&:nth-child(2n + 1) {
			background-color: $gray-light;
		}

		.entry-meta {
			padding: 1em 0;
		}

		.post-thumbnail,
		img {
			display: none !important;
		}
	}
}
