/* Icon Font Hovers: Conferences, etc. */
.sr-table .legend {
  margin: 2em 0;
  list-style: none;
}
.sr-table .legend li {
	margin-bottom: .5em;
	cursor: pointer;
	padding: .25em .5em;
	margin-left: 5px;
}
.sr-table .legend li:hover {
	border-left: 5px solid $green-light;
	margin-left: 0;
	color: black;
}
.sr-table .legend li.active{
	border-left: 5px solid $green-bright;
	margin-left: 0;
	font-weight: bold;
}
.sr-table .legend .show-all {
	border-left: 5px solid $gray;
	margin-left: 0;
}

.sr-table .legend i {
	width: 2em;
	text-align: center;
	padding-right: 1em;
}

.none-found {
    margin-top: -1.5em;
    background: $gray-light;
    padding: .75em 1em;
    font-style: italic;
}


/* Post-specific: The Power of Keeping Lists */
.table-keeping-lists {
	table {
		border: 1px solid #CCCCCC;
	}
	table thead {
		border-bottom: 1px solid #CCCCCC;
	}
	.wp-block-table td {
		padding: 6px;
		vertical-align: top;
	}
	table td+td,
	.wp-block-table.is-style-stripes th+th,
	.wp-block-table.is-style-stripes td+td {
		border-left: 1px solid #CCCCCC;
	}
	.js-accordion-item button {
		border: 1px dashed #CCC;
		padding: .5em .75em;
	}
	.js-accordion-item.is-open button {
		border: 1px solid #CCC;
	}
	.js-accordion-item button::after {
		display: none !important;
	}
	.js-accordion-item button::before {
	    content: "\F0FE";
	    font-family: "Font Awesome 5 Free";
	    font-weight: 900;
	    font-style: normal;
	    padding-right: .5em;
	}
	.js-accordion-item.is-open button::before {
	    content: "\F146";
	}
}