/* Custom Body Class .sr-page-table */
.sr-page-table {
	thead {
	    background-color: $green-light;
	    font-weight: bold;
		text-align: left;
	}
	tbody tr:nth-child(2n+1) {
	    background-color: $gray-light;
	}
	th {
		padding: .5em;
	}
	td {
		padding: .5em;
		vertical-align: top;
	}
}


/* Page-specific: Professional Development */
.sr-table-pro-dev {
	.none-found {
		margin-top: -1.5em;
		background: $gray-light;
		padding: .75em 1em;
		font-style: italic;
	}
	.legend {
		margin: 2em 0;
		list-style: none;
	
		li {
			margin-bottom: .5em;
			cursor: pointer;
			padding: .25em .5em;
			margin-left: 5px;
			
			&:hover {
				border-left: 5px solid $green-light;
				margin-left: 0;
				color: black;
			}
			&.active {
				border-left: 5px solid $green-bright;
				margin-left: 0;
				font-weight: bold;
			}
		}
		
		.show-all {
			border-left: 5px solid $gray;
			margin-left: 0;
		}

		i {
			width: 2em;
			text-align: center;
			padding-right: 1em;
		}
	}
}


/* Page-specific: The Power of Keeping Lists */
@include breakpoint( m ){
	.sr-table-pro-dev .wp-block-columns.split-40-60 {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	.sr-table-pro-dev .wp-block-columns.split-40-60 .wp-block-column {
		flex-basis: 100% !important;
		margin-left: 0;
	}
}
/* Post-specific: The Power of Keeping Lists */
.table-keeping-lists {
	table {
		border: 1px solid #CCCCCC;
	}
	table thead {
		border-bottom: 1px solid #CCCCCC;
	}
	.wp-block-table td {
		padding: 6px;
		vertical-align: top;
	}
	table td+td,
	.wp-block-table.is-style-stripes th+th,
	.wp-block-table.is-style-stripes td+td {
		border-left: 1px solid #CCCCCC;
	}
}