/* Page-specific: Professional Development */
.sr-table-pro-dev {
	.none-found {
		margin-top: -1.5em;
		background: $gray-light;
		padding: .75em 1em;
		font-style: italic;
	}
	.legend {
		list-style: none;
	
		li {
			cursor: pointer;
			padding: .25em .5em;
			margin-left: 5px;
			
			&:hover {
				border-left: 5px solid $green-light;
				margin-left: 0;
				color: black;
			}
			&.active {
				border-left: 5px solid $green-bright;
				background: $green-lightest;
				margin-left: 0;
				font-weight: bold;
			}
		}
		
		.show-all {
			border-left: 5px solid $gray;
			margin-left: 0;
			background: $gray-light;
		}

		i {
			width: 40px;
			text-align: center;
			padding-right: 1em;
		}
	}
}