/* Home: General */
.home .entry-content li {
    margin-bottom: 0;
}

/* Home: Bio Photo*/
.home-about-me .wp-block-column {
	@include breakpoint( s ) {
		@include columns-full-override;
		& figure {
			display: flex;
			justify-content: center;
			align-items: center;

			& img {
				max-width: 250px;
			}
		}
	}
}
.home-about-me figure {
    margin-top: 3.5em;
}
.home .is-style-stever-columns-statistics .wp-block-column{
	@include breakpoint( ms ) {
		@include columns-full-override;
	}
}