// Home: General
.home .entry-content li {
    margin-bottom: 0;
}


// Home: Bio
.home-about-me h3 {
	margin-top: 0;
}
.home-about-me figure {
	flex-direction: column;
}
@include breakpoint( m ) {
	.home-about-me .wp-block-column:first-child {
		flex-basis: calc(70% - 1em) !important;
	}
	.home-about-me .wp-block-column:last-child {
		flex-basis: calc(30% - 1em) !important;
	}
}
@include breakpoint( s ) {
	.home-about-me .wp-block-column:first-child,
	.home-about-me .wp-block-column:last-child {
		flex-basis: 100% !important;
	}
	.home-about-me .wp-block-column {
		& figure {
			display: flex;
			justify-content: center;
			align-items: center;

			& img {
				max-width: 250px;
			}
		}
	}
}


// Home: Statistics
.home .is-style-stever-columns-statistics .wp-block-column{
	@include breakpoint( ms ) {
		@include columns-full-override;
	}
}