/* Custom Colors */
$green:			#6B7D05;
$green-dark:	#5B573D;
$green-light:	#E1E2C7;
$green-bright:  #8B9B31; /* AA w/Large Text: https://bit.ly/2EnXiPj */
$brown:			#332012;
$brown-light:	#96BCC5;
$red:			#C2552E;
$gray:			#5F6B7E;
$gray-light:	#F7F7F7;
$gray-med:		#CCCCCC;
$blue:          #1468A0;

/* For Timeline Only */
$teal:                    #618985;
$teal-light:              #B1DDDA;
$timeline-me:             $green-bright;
$timeline-dev:            #048BA8;
$timeline-manager:        #004777;

/* "Standard" Colors */
$white:			#FFFFFF;
$black:			#000000;

/* Fonts */
$fonts-copy:		"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fonts-headings:	"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;