/* Custom Colors */
$green:			#717C34;
$green-dark:	#5B573D;
$green-light:	#E1E2C7;
$brown:			#332012;
$brown-light:	#96BCC5;
$red:			#88442F;
$gray:			#5F6B7E;
$gray-light:	#F7F7F7;
$gray-med:		#CCCCCC;

/* "Standard" Colors */
$white:			#FFFFFF;
$black:			#000000;

/* Fonts */
$fonts-copy:		"Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fonts-headings:	"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;